@import 'config';
@import 'utility';
@import 'header';
@import 'main';
@import 'footer';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1.5em;
  gap:  2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  margin: 0 auto;
}

@media(min-width: 1100px) {
 .container {
   margin: 5em;
 }

 .wrapper {
   gap: 12em;
 }
}
